{% extends "global/Page.html" %}
{% load otree static %}

{% block content %}

    <p>
        Damit ist dieser erste Teil der Studie abgeschlossen. Vielen Dank für Ihre Teilnahme!
        <br><br>
        Das Ziel dieses ersten Teils ist, Persönlichkeitseigenschaften und Verhaltensweisen zu erfassen, um zu
        untersuchen wie diese in Zusammenhang mit dem zweiten Teil der Studie stehen.
        <br>
        Der zweite Teil der Studie wird im Labor erfolgen. Hier haben Sie sich bereits zu einem Termin angemeldet;
        diesen können Sie jederzeit auf der Seite des Decision Labs
        (<a href="https://experimente.bonneconlab.uni-bonn.de/" target="_blank">experimente.bonneconlab.uni-bonn.de</a>)
        nachschauen. Bitte beachten Sie, dass Sie Ihre Vergütung nach vollständiger Teilnahme an beiden Studienteilen
        vor Ort im Labor des Decision Labs erhalten.
        <br><br>
        Vielen Dank für Ihre Unterstützung unserer Forschung!<br>
        Bei weiteren Fragen wenden Sie sich gerne an die Studienverantwortliche:
        <a href="mailto:mischkowski@coll.mpg.de">mischkowski@coll.mpg.de</a>.

<br><br>
        <hr>
    </p>

        {{ formfield 'comments' label="Wenn Sie uns Feedback geben möchten oder Kommentare zu dieser Studie haben, melden Sie uns diese gerne im Folgenden zurück:" }}

    <br>

    {% next_button %}

{% endblock %}


